
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 550px) {
    .menu-toggle {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .nav.active {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; /* Evita que los botones se envuelvan en múltiples líneas */
        justify-content: center;
        overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si los botones no caben */
    }
    .boton {
        text-align: center;
        background-color: #3E517A;
        color: #fff;
        border: none;
        border-bottom: 1px solid #fff;
        margin: 5px; /* Espacio entre los botones */
        font-size: 0.8em; /* Tamaño de fuente más pequeño para dispositivos móviles */
        padding: 5px 10px; /* Espacio interno del botón */
        white-space: nowrap; /* Evita el truncamiento del texto en botones largos */
    }
}

.nav {
    background-color: #3E517A;
    padding: 2% 0;
    text-align: center;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.boton {
    background-color: #D9D9D9;
    padding: 1% 2%;
    color: #3E517A;
    font-family: Helvetica;
    font-size: 2em;
    font-weight: 900;
    border-radius: 2em;
    margin: 1%;
    transition: transform 0.2s;
}

.boton:hover {
    transform: scale(1.05);
}



.titulo {
    color: #3E517A;
    text-align: center;
    font-size: 3em;
    margin: 2% 0;
}


.container {
    background-color: #A8E0FF;
    border-radius: 2em;
    border: 2px solid #000;
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 2%;
    flex: 1;
}


.columnaizquierda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.img1 {
    border-radius: 20%;
    max-width: 100%;
    height: auto;
    max-height: 500px;
    width: auto;
}


.columnaderecha {
    color: #3E517A;
    font-size: 2.5em;
    text-align: left;
    margin: 2%;
    flex: 1;
}

.columnaderecha strong {
    font-weight: bold;
}


.pie_de_pagina {
    background-color: #3E517A;
    padding: 2% 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    color: #fff;
    margin-top: auto;
}

.logo {
    margin-bottom: 10px;
}

.logo img {
    max-width: 200px;
}
